
.matrix,.matrix_2
{
    position: absolute;
    width: 450px;
    height: 450px;
    margin:300px;
    margin-top: 2%;
    border-spacing: 0;
}

.matrix .cell
{
    width:45px;
    height:45px;
	border:1px solid black;
    background: #99cc33;
    text-align: center;
}

.matrix_2 .cell
{
    width:45px;
    height:45px;
    border:1px solid black;
    background: #33cc33;
    text-align: center;
    
}
.lev{
	width: 250px;
    
	margin-left:400px;
	margin-top:10px;
}
.discription{
    width: 250px;
    height: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }


  .overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
}